* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

body {
    background-color: #f5f8fa;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    text-align: center;
}

#demo {
    /* Should be kept up to date with index.html */
    width: 960px;
    height: 500px;
    
    border: 1px solid #BFCCD6;
}