* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: #f5f8fa;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    margin: 0;
}